
body {
    font-family: Arial, sans-serif;
    background: #f4f4f435;
}

.chat-container {
    width: 600px;
    height: 100vh;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.306);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#chat-box {
    height: 400px;
    min-height: 400px;
    border: 1px solid #dddddd7e;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 10px;
}

.input-area {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    color: #ebecec;
    background-color: blue;
}
